{% extends 'base.html' %}


{% block breadcrumb %}
{% with paths=[(url_for('admin_list', identity=identity), table_name), ('', 'Delete')] %}
{% include "/component/breadcrumb.html" %}
{% endwith %}
{% endblock breadcrumb %}    
    

{% block content %}
<div class="flex flex-col gap-4">
    <p class="text-2xl">Delete record </p>
    
    <p class="mt-4">Are you sure you want to the delete 
        
        {% if records|length >= 2 %}
        the selected {{records|length}} {{table_name}} records?
        {% else %}
        {{table_name}} <span class="italic">"{{records[0]}}"?
        {% endif %}
    All of the <br> following related items will be deleted: </p>
    
    <p class="font-bold">Summary:</p>
            {% for record in records %}
            {{record.countries}}
            {% endfor %}
    <p class="font-bold">Objects:</p>
    <ul class="list-disc list-inside pl-4">
        
        {% for record in records %}
            <li>{{table_name}}: <a class="text-blue-700 dark:text-blue-400" href="{{ url_for('admin_view', identity=identity, key=record|attr(pk)) }}">{{record}}</a></li>
        {% endfor %}
            
    </ul>

    <div class="flex justify-start gap-3 mt-4">
        <button type="submit" class="px-8 py-2.5 text-sm font-medium text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 rounded-lg text-center dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-800">Yes, I'm sure</button>
        <button type="submit" class="px-8 py-2.5 text-sm font-medium text-white bg-gray-700 hover:bg-gray-800 focus:ring-4 focus:outline-none focus:ring-gray-300 rounded-lg text-center dark:bg-gray-600 dark:hover:bg-gray-700 dark:focus:ring-gray-800">No, take me back</button>
    </div>
</div>


{% endblock content %}

{% block extraJS %}
{% endblock extraJS %}